# C extensions
*.so

# Distribution / packaging

# Configuration
*.vscode
*.pro.user*
CMake*

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations

# celery beat schedule file
celerybeat-schedule

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Linux stuff
.directory

# Jetbrains IDE's
.idea

# Go wrapper building/deployment
deploy/
rcc.cpp
rcc.qrc
rcc_cgo_linux_linux_amd64.go
rcc_*.cpp
rcc__*
*moc.*
*moc_*

# Temporary files
*.swp
*.swo
.DS_Store
*.orig
*.bak

